{% extends "base.html" %}

{% block title %}
Bookmarks for user
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Bookmarks for {{ user.username }}</h1>

            <ul>
                {% for bm in user.bookmarks %}
                    <li>
                        <a href="{{ bm.url }}">{{ bm.description }}</a>
                        <span class="timestamp">Added at {{ bm.date }}</span>
                    </li>
                {% else %}
                    <li>This user has not added any bookmark yet.</li>
                {% endfor %}
            </ul>
        </header>
    </article>
{% endblock %}

{% block sidebar %}
{% endblock %}